<p id="notice"><%= notice %></p>

<h1>Listing Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Recipient</th>
      <th>Type</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.description %></td>
        <td><%= transaction.recipient %></td>
        <td><%= transaction.transaction_type %></td>
        <td><%= number_to_currency(transaction.amount) %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3">Total funds available:</td>
      <td><%=number_to_currency(@transactions.total)%></td>
    </tr>
  </tbody>
</table>

<br>

<table>
  <tbody>
      <tr>
        <td>Total number of transactions: </td>
        <td><%= @count %></td>
      </tr>
      <tr>
        <td>Amount spent this month: </td>
        <td><%= number_to_currency(@transactions.spent_this_month) %></td>
      </tr>
      <tr>
        <td>Amount spent last month: </td>
        <td><%= number_to_currency(@transactions.spent_last_month) %></td>
      </tr>
      <tr>
        <td>Total transactions this month: </td>
        <td><%= @transactions.transactions_this_month %></td>
      </tr>
      <tr>
        <td>Total transactions last month: </td>
        <td><%= @transactions.transactions_last_month %></td>
      </tr>
      <tr>
        <td>Biggest expense this month: </td>
        <td><%= @transactions.biggest_this_month %></td>
      </tr>
      <tr>
        <td>Biggest expense ever: </td>
        <td><%= @transactions.biggest_ever %></td>
      </tr>
      <tr>
        <td>Where most of your money goes: </td>
        <td><%= @transactions.money_pit %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %> |
<%= link_to 'Home', root_path %>
