<p id="notice"><%= notice %></p>

<h1>Transaction Index</h1>

<table id=list>
  <thead>
    <tr>
      <th>
        <span class="special">
          Description
        </span>
      </th>
      <th>Recipient</th>
      <th>Type</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td>
          <span class="special">
            <%= transaction.description %>
          <span>
        </td>
        <td><%= transaction.recipient %></td>
        <td>
          <span class="<%= transaction.transaction_type == 'Withdrawal' ? 'negative' : 'positive' %>">
            <%= transaction.transaction_type %>
          </span>
        </td>
        <td>
          <span class="<%= transaction.transaction_type == 'Withdrawal' ? 'negative' : 'positive' %>">
            <%= transaction.amount %>
          </span>
        </td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td>
          <%= link_to 'Destroy',
              transaction, method: :delete,
              data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3">Total funds available:</td>
      <td class="<%= @transactions.total < 0 ? 'negative' : 'positive' %>">
        <%= @transactions.total %>
      </td>
    </tr>
  </tbody>
</table>



<table id="stats">
  <tbody>
      <tr>
        <td>Total number of transactions: </td>
        <td><%= @count %></td>
      </tr>
      <tr>
        <td>Amount spent this month: </td>
        <td><%= @transactions.spent_this_month %></td>
      </tr>
      <tr>
        <td>Amount spent last month: </td>
        <td><%= @transactions.spent_last_month %></td>
      </tr>
      <tr>
        <td>Total transactions this month: </td>
        <td><%= @transactions.transactions_this_month %></td>
      </tr>
      <tr>
        <td>Total transactions last month: </td>
        <td><%= @transactions.transactions_last_month %></td>
      </tr>
      <tr>
        <td>Biggest expense this month: </td>
        <td><%= @transactions.biggest_this_month %></td>
      </tr>
      <tr>
        <td>Biggest expense ever: </td>
        <td><%= @transactions.biggest_ever %></td>
      </tr>
      <tr>
        <td>Where most of your money goes: </td>
        <td><%= @transactions.money_pit %></td>
      </tr>
  </tbody>
</table>

<br>

<div class=footer>
  <p>
    <%= link_to 'New Transaction', new_transaction_path %> |
    <%= link_to 'Home', root_path %>
  </p>
</div
